@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat" , sans-serif ;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
li,a,button{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;

}
.logo{
    cursor:pointer;
    position:related;
    height:auto;
    left:0px;
    top:0px;
    width:150px;
}
.navigation a{
    position:relative;
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left:30px;   
}
.navigation :hover{
    color: rgb(58, 175, 97);
}
button{
    padding:9px 25px;
    background-color: rgb(56, 169, 84);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    color: hsl(144, 54%, 15%)
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image/loginbg.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    position:relative;
    width:750px;
    height:100px;
    background:rgb(159, 216, 186);
    border:2px solid rgba(255,255,255,5);
    border-radius:20px;
    backdrop-filter: blur(1px);
    box-shadow:0 0 30px rgba(0,0,0,.5); 
    justify-content: center;
    align-items: center;   
    
}

h2,p{
    text-align:center;
    padding-top: 2%;
    color:hsl(144, 54%, 15%);
}
P{
    font-weight: 550;
    font-size:medium;
}